
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'PT Sans Narrow', sans-serif;
}
body{
background-color: aquamarine;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
}

.container .lado_izq{
    position: relative;
background: #003247;
padding: 40px;
}
.texto_cv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(255, 249, 249, 0.2);
}
.texto_cv .imagenperfil {
    position:static;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;

} 
.texto_cv .imagenperfil img{
    position: absolute;
    top:0;
    left: 0;width: 100%;
    height: 100px;
    object-fit: cover;
}
.texto_cv h2{
    color: azure;
    font-size: 26px;
    margin-top: 8px;
    text-align: center;
    font-weight: 600;
}
.texto_cv h2 span{
    font-size: 24px;
    font-weight: 300;
}
.infocontacto{
    padding-top: 41px;
}
.titulo{
    color: wheat;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.infocontacto ul{
    position: relative;
}
.infocontacto ul li{
    list-style: none;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.infocontacto ul li .icon{
    display: inline-block;
    width: 35px;
    font-size: 20px;
}

.infocontacto ul li span{
    color: wheat;
    font-weight: 300;
}

.infocontacto_edu .li{
    margin-bottom: 15px;

}

.infocontacto_edu h5{
    color:#03a9f4;
    font-weight: 500;
}
.infocontacto_edu h4{
    color: wheat;
    font-weight: 500;
}
.infocontacto_edu h4{
    color: wheat;
    font-weight: 300;
}

.infocontacto_edu{
    margin-top: 15px;
}

.infocontacto_edu ul li {
   
    position: relative;
    width: 100%;
    color: wheat;
    font-weight: 300;
    margin-top: 5px;
    
}
.form_contacto {
    color: wheat;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;

}
.form_contacto h4{
   margin-top: 20px;
    color: wheat;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;
}
.field label {
    color: wheat;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: left;
}
button {
    color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }



.container .lado_derecho{
    position: relative;
    background: #fff;
    padding: 40px;
    }
    
    .sobremi{ 
        margin-bottom: 50px;
    }
    .titulo2{
        text-decoration: underline solid rgb(68, 68, 68);
        letter-spacing: 2;
        margin-bottom: 10px;
        text-align: left;
    }
    
    .p{
        color: #180202;
    }
    .sobremi ul li{
        font-weight: 300;
        margin-bottom: 15px;
        margin-top: 20px;
        letter-spacing: 2;

    }
    .sobremi h2{
        text-decoration: underline solid rgb(68, 68, 68);
        text-align: left;
        box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 10px;
        letter-spacing: 2;
    }

    .sobremi .p{
        color: #180202;
        
    }
    .uso_programas{
        color: #180202;
        margin-bottom: 15px;
    }
    .uso_programas h2{
        background-color: lightslategray;
        margin-bottom: 30px;
        text-decoration: underline solid rgb(68, 68, 68);
        text-align: left;
        box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 10px;
    }
    .apt h2{
        background-color: cornflowerblue;
        text-decoration: underline solid rgb(29, 19, 19);
        text-align: left;
        box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 10px;
    }
    
    .apt ul li{
        margin-block-start: 30PX;
        list-style:square;
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 15px;
        letter-spacing: 2;
        }
       .card-content{
        font: bold;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO0juHhN0sLQAb0Xa5sRrN1jLUdjQRVLcTfw&usqp=CAU);
       }
       .card-content{
        font: bold white;
       }
       .pdf p{
        color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
        .myButton:hover {
        background: #1C6EA4; }
        .myButton:active {
        background: #144E75; }
    
    @media (max-width:1000px){
        .container{
            margin: 10px;
        grid-template-columns: repeat(1,1fr);
        }
        .apt ul{
            grid-template-columns: 1,1fr;
        }
    }

    @media (max-width: 600px){
        .apt ul{
            grid-template-columns: 4,1fr;
        }
    }